.work-detail {
    margin-top: 15px;
    .viewing-box {
		width: 100%;
        background: white;
        img {
            width: 100%;
            margin: 0 auto;
        }
    }
	.images{
		display: flex;
		flex-wrap: wrap;
		.image{
			height: 250px;
		}
	}
}
