.morning {
    .up{
        // @include linear-gradient(180deg, transparent, #DEC68C);
        background: rgba(#9BA2A9, .125);
    }
    h1{
        color: #9BA2A9;
    }
    p, i{
        color: #9BA2A9;
    }
}

.afternoon {
    .up{
        // @include linear-gradient(180deg, transparent, #DEC68C);
        background: rgba(#9BA2A9, .125);
    }
    h1{
        color: #9BA2A9;
    }
    p, i{
        color: #9BA2A9;
    }
}

.evening {
    .up{
        // @include linear-gradient(180deg, transparent, #DEC68C);
        background: rgba(#9BA2A9, .125);
    }
    h1{
        color: #9BA2A9;
    }
    p, i{
        color: #9BA2A9;
    }
}

.super-late {
    .up{
        // @include linear-gradient(180deg, transparent, #DEC68C);
        background: rgba(#9BA2A9, .125);
    }
    h1{
        color: #9BA2A9;
    }
    p, i{
        color: #9BA2A9;
    }
}

.quad{
	width: 100%;
	float: left;
	.jumbotron {
		background: transparent;
    }
    h1{
        letter-spacing: .0125em;
        text-transform: uppercase;
        color: #9BA2A9;
    }
    i{
        font-size: 32px;
        padding: 5px;
        &:hover{
            color: lighten(#9BA2A9, 5%);
        }
    }
    p{
        color: #9BA2A9;
    }
    .up{
        background: rgba(#9BA2A9, .125);
    }
    a{
        text-decoration: underline;
        color: darken(#9BA2A9, 20%);
        &:hover{
            color: lighten(#9BA2A9, 5%);
        }
    }
}
.text-quad{
        background: rgba(255,255,255, .25);
}
.svg-el{
	display: none;
	float: left;
}
.svg-elements {
    overflow: hidden;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100%;
    // position: fixed;
}

@media(min-width:992px) {
	.quad-mobile{
		display: none;
	}
    .quad,
    .svg-el {
        width: 50%;
    }
    .quad {
        h1 {
            margin-top: 0;
        }
    }
    .svg-el{
    	display: block;
    }
    .svg-elements {
        max-width: 100%;
        .el-one {
            text-align: center;
        }
        .el-two {
            margin-top: 20px;
            text-align: center;
        }
    }
}
